* {
    /* border: #000000 solid; */
}

html {
    font-family: "Noto Sans", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

/* ヘッダー */
.page-header {
    /* background-color: #000000; */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-bottom: 0;
    justify-content: space-between;
    width: 100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: "Libertinus Serif Display", system-ui;
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.top-menu .glyphicon {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    background-color: #1D9BF0;
    padding: 10px;
    border-radius: 50px;
}

.content {
    width: 70%;
    align-items: center;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 26px;
    /* font-family: "Noto Sans", sans-serif; */
}

/* ポスト */
.post {
    border-bottom: #e1e1e1 solid;
    border-right: #e1e1e1 solid;
    border-left: #e1e1e1 solid;
    padding: 10px;
}
.post h2 a, .post h2 a:visited {
    color: #000000;
}

.author {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-right: 10px;
    color: #000000;
}

.date {
    color: #828282;
    font-size: 12px;
    margin: 0;
}

.text {
    overflow-wrap: break-word;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* フォーム */
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    font-size: 20px;
}

/* ディティール */
.post .btn {
    margin-left: auto;
    margin-right: 0;
}

.edit_button {
    text-align: right;
}

.detail_text {
    font-size: 40px;
    font-weight: 700;
}